body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(#1a0010, #000);
  color: white;
  overflow-x: hidden;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlay button {
  padding: 20px 40px;
  font-size: 22px;
  border-radius: 999px;
  border: none;
  background: #ff4fa3;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 30px pink;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: #ff8fc7;
  text-shadow: 0 0 25px pink;
}

p {
  font-size: 28px;
}

/* GALERIA */
.gallery {
  display: flex;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: slide 20s infinite;
}

@keyframes slide {
  0% {transform: translateX(0)}
  25% {transform: translateX(-100%)}
  50% {transform: translateX(-200%)}
  75% {transform: translateX(-300%)}
}

/* CORAZONES */
.heart {
  position: fixed;
  top: -10px;
  color: pink;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}